@font-face {
  font-family: 'Geist-SemiBoldItalic';
  src: local('Geist-SemiBoldItalic'), url('../fonts/sans/static/Geist-SemiBoldItalic.woff2') format('woff2');
  font-weight: '600';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}