@font-face {
  font-family: 'Geist-Regular';
  src: url('../fonts/sans/static/Geist-Regular.woff2') format('woff2');
  font-weight: '400';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}