@font-face {
  font-family: 'GeistMono-ExtraBoldItalic';
  src: url('../fonts/mono/static/GeistMono-ExtraBoldItalic.woff2') format('woff2');
  font-weight: '800';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}