@font-face {
  font-family: 'GeistMono-SemiBoldItalic';
  src: local('GeistMono-SemiBoldItalic'), url('../fonts/mono/static/GeistMono-SemiBoldItalic.woff2') format('woff2');
  font-weight: '600';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}