@font-face {
  font-family: 'GeistMono-UltraLight';
  src: url('../fonts/mono/static/GeistMono-UltraLight.woff2') format('woff2');
  font-weight: '200';
  font-diplay: 'swap';
  font-synthesis: 'none';
}