@font-face {
  font-family: 'GeistMono-ExtraLightItalic';
  src: local('GeistMono-ExtraLightItalic'), url('../fonts/mono/static/GeistMono-ExtraLightItalic.woff2') format('woff2');
  font-weight: '200';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}