@font-face {
  font-family: 'GeistMono-LightItalic';
  src: url('../fonts/mono/static/GeistMono-LightItalic.woff2') format('woff2');
  font-weight: '300';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}