@font-face {
  font-family: 'Geist-ExtraBold';
  src: url('../fonts/sans/static/Geist-ExtraBold.woff2') format('woff2');
  font-weight: '800';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}