@font-face {
  font-family: 'Geist-Black';
  src: local('Geist-Black'), url('../fonts/sans/static/Geist-Black.woff2') format('woff2');
  font-weight: '900';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}