@font-face {
  font-family: 'GeistMono-BoldItalic';
  src: local('GeistMono-BoldItalic'), url('../fonts/mono/static/GeistMono-BoldItalic.woff2') format('woff2');
  font-weight: '700';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}