@font-face {
  font-family: 'GeistMono-Black';
  src: local('GeistMono-Black'), url('../fonts/mono/static/GeistMono-Black.woff2') format('woff2');
  font-weight: '900';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}