@font-face {
  font-family: 'GeistMono-MediumItalic';
  src: url('../fonts/mono/static/GeistMono-MediumItalic.woff2') format('woff2');
  font-weight: '500';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}