@font-face {
  font-family: 'Geist-SemiBold';
  src: url('../fonts/sans/static/Geist-SemiBold.woff2') format('woff2');
  font-weight: '600';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}