@font-face {
  font-family: 'Geist-Regular';
  src: local('Geist-Regular'), url('../fonts/sans/static/Geist-Regular.woff2') format('woff2');
  font-weight: '400';
  font-diplay: 'swap';
  font-synthesis: 'none';
}