@font-face {
  font-family: 'GeistMono-UltraBlack';
  src: local('GeistMono-UltraBlack'), url('../fonts/mono/static/GeistMono-UltraBlack.woff2') format('woff2');
  font-weight: '900';
  font-diplay: 'swap';
  font-synthesis: 'none';
}