@font-face {
  font-family: 'Geist-Italic';
  src: url('../fonts/sans/static/Geist-Italic.woff2') format('woff2');
  font-weight: '400';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}