@font-face {
  font-family: 'GeistMono-Light';
  src: url('../fonts/mono/static/GeistMono-Light.woff2') format('woff2');
  font-weight: '300';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}