@font-face {
  font-family: 'GeistPixel-Square';
  src: url('../fonts/pixel/GeistPixel-Square.woff2') format('woff2');
  font-weight: '400';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}