@font-face {
  font-family: 'GeistMono-BlackItalic';
  src: url('../fonts/mono/static/GeistMono-BlackItalic.woff2') format('woff2');
  font-weight: '900';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}