@font-face {
  font-family: 'GeistMono-Regular';
  src: local('GeistMono-Regular'), url('../fonts/mono/static/GeistMono-Regular.woff2') format('woff2');
  font-weight: '400';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}