@font-face {
  font-family: 'Geist-Bold';
  src: local('Geist-Bold'), url('../fonts/sans/static/Geist-Bold.woff2') format('woff2');
  font-weight: '700';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}