@font-face {
  font-family: 'GeistMono-Italic';
  src: url('../fonts/mono/static/GeistMono-Italic.woff2') format('woff2');
  font-weight: '700';
  font-style: 'italic';
  font-display: 'swap';
  font-synthesis: 'none';
}