@font-face {
  font-family: 'Geist-Light';
  src: url('../fonts/sans/static/Geist-Light.woff2') format('woff2');
  font-weight: '300';
  font-style: 'normal';
  font-display: 'swap';
  font-synthesis: 'none';
}