@font-face {
    font-family: 'GeistMono-VariableItalic';
    src: url('../fonts/mono/GeistMono-Italic[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-synthesis: none;
}