@font-face {
    font-family: 'Geist-MonoVariable';
    src: url('../fonts/mono/GeistMono[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}