@font-face {
    font-family: 'GeistPixel-Circle';
    src: url('../fonts/pixel/GeistPixel-Circle.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'GeistPixel-Grid';
    src: url('../fonts/pixel/GeistPixel-Grid.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'GeistPixel-Line';
    src: url('../fonts/pixel/GeistPixel-Line.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'GeistPixel-Square';
    src: url('../fonts/pixel/GeistPixel-Square.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'GeistPixel-Triangle';
    src: url('../fonts/pixel/GeistPixel-Triangle.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}
