@font-face {
    font-family: 'Geist Variable';
    src: url('../fonts/sans/Geist[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-synthesis: none;
}

@font-face {
    font-family: 'Geist Variable Italic';
    src: url('../fonts/sans/Geist-Italic[wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-synthesis: none;
}