@font-face {
      font-family: 'Geist-SemiBold';
      src: local('Geist-SemiBold') url('../fonts/sans/static/Geist-SemiBold.woff2') format('woff2');
      font-weight: '600';
      font-diplay: 'swap';
      font-synthesis: 'none';
    }